<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}FinControl{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Custom styles (если понадобятся) -->
    {% block extra_css %}{% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">

<!-- Навигация -->
<!-- Навигация -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <!-- Логотип -->
        <a class="navbar-brand" href="/">
            💰 FinControl
        </a>

        <div class="ms-auto d-flex align-items-center">
            {% if user.is_authenticated %}

                {% if request.resolver_match.url_name == 'profile' %}
                    <!-- На странице профиля: кнопка Назад -->
                    <a href="{% url 'transactions' %}" class="btn btn-outline-light btn-sm me-2" title="Назад">
                        <i class="bi bi-arrow-left"></i>
                    </a>
                {% else %}
                    <!-- На остальных страницах: кнопка Настройки -->
                    <a href="{% url 'profile' %}" class="btn btn-outline-light btn-sm me-2" title="Настройки">
                        <i class="bi bi-gear"></i>
                    </a>
                {% endif %}

                <!-- Кнопка выхода -->
                <a href="{% url 'logout' %}" class="btn btn-outline-light btn-sm" title="Выйти">
                    <i class="bi bi-box-arrow-right"></i>
                </a>

            {% endif %}

            {% if request.resolver_match.url_name == 'login' or request.resolver_match.url_name == 'register' %}
                <!-- Гость на страницах входа/регистрации -->
                <a href="{% url 'home' %}" class="btn btn-outline-light btn-sm" title="Назад">
                    <i class="bi bi-arrow-left"></i>
                </a>
            {% endif %}
        </div>
    </div>
</nav>


<!-- Контент -->
<main class="container my-4">
    {% block content %}{% endblock %}
</main>

<!-- Футер -->
<footer class="bg-light text-center py-3 mt-auto border-top">
    &copy; {{ now|date:"Y" }} FinControl. Все права защищены.
</footer>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.plot.ly/plotly-2.35.2.min.js"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
